@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* color: red; */
  color: #000;
}

img {
  max-width: 100%;
}

.min-h-home {
  min-height: calc(100vh - 96px);
  background-color: #f5f4f6;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
}
