@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  /* color: red; */
  color: #000;
  overflow-x: hidden;
  letter-spacing: -0.02em !important;
}

img {
  max-width: 100%;
}

.min-h-home {
  height: calc(100vh - 96px);
  background-color: #f5f4f6;
}

.min-h-about {
  min-height: calc(50vh - 96px);
  background-color: #f5f4f5;
  padding-bottom: 5rem;
}

h1 {
  font-size: 57px;
  line-height: 66px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 36px;
}

.email-input::placeholder {
  color: #000;
  font-size: 16px;
}

input:active,
input:focus {
  outline: none;
  border: none;
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 40px;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 30px;
    line-height: 1.7rem;
  }
  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 1.12rem;
  }

  section {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 4rem;
  }
  h2 {
    font-size: 24px;
    line-height: 1.5rem;
  }
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 1.12rem;
  }

  a,
  li {
    font-size: 16px !important;
  }
}
