@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  overflow-x: hidden;
  letter-spacing: -0.02em !important;
}

img {
  max-width: 100%;
}

.min-h-home {
  height: calc(100vh - 96px);
  background-color: #f5f4f6;
}

.min-h-about {
  min-height: calc(50vh - 96px);
  background-color: #f5f4f5;
  padding-bottom: 5rem;
}

h1 {
  font-size: 57px;
  line-height: 66px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 36px;
}

.email-input::placeholder {
  color: #000;
  font-size: 16px;
}

.email-input::placeholder {
  color: #7c7c7c;
  font-size: 14px;
}

input:active,
input:focus {
  outline: none;
  border: none;
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 40px;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 30px;
    line-height: 1.7rem;
  }
  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 1.12rem;
  }

  section {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
  h1 {
    font-size: 36px;
    line-height: 40px;
  }
  h2 {
    font-size: 18px;
    line-height: 26px;
  }
  h3 {
    font-size: 20px;
    /* line-height: 24px; */
  }

  h4 {
    font-size: 1.12rem;
  }

  a,
  li {
    font-size: 14px !important;
  }

  .min-h-home {
    height: 60vh;
  }

  .min-h-about {
    padding-bottom: 40px;
  }
}

.short-height {
  min-height: auto;
  height: auto;
}

/* custom.css or any other CSS file you are using */
@media (max-width: 767px) {
  .grid-cols-2-150px {
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }
}
